body {
  padding: 0;
  margin: 0;
background-color: rgb(214, 212, 212);
}

.page {
  width: 1300px;
  height: 825px;
}

.header {
  width: 1300px;
  background-color: rgba(140, 10, 13, 1);
}

.logo {
  display: inline-block;
  margin: 0;
  width: 177px;
  height: 41px;
  padding: 19px 0px 0px 68px;
}


.menu-top {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding-left: 125px;
  padding-top: 38px;
}

.menu-top>li {
  display: inline;
  padding-right: 32px;
  font: 14px minionpro-bold;
  text-transform: uppercase;
  color: #FFE394;
}

.flag {
  display: inline-block;
  vertical-align: top;
  width: 26px;
  height: 18px;
  margin: 0;
 padding: 35px 11px 17px 93px;
  border-radius: 50%;
}

.eng {
  display: inline-block;
  vertical-align: top;
  width: 37px;
  height: 13px;
  margin: 0;
  padding-top: 37px;
  font: 18px minionpro-bold;
  text-transform: uppercase;
  color: #F5B765;
}

.wallpaper {
  width: 1300px;
  height: 753px;
}

.main {
  width: 1300px;
  height: 753px;
  background-color: rgba(245, 232, 198, 1);
  opacity: .8;
}

.central {
  margin: 0 auto;
}

.foto{
  position: relative;
  width: 1162px;
  height: 327px;
  top: 25px;
  border: 4px solid;
  border-color: rgba(53, 4, 12, 1);
}

.text-foto{
  position: relative;
  width: 455px;
  height: 54px;
  top: 30px;
  font: 60px opensans;
  line-height: 46px;
  text-align: justify;
}

.moreinfo {
  position: relative;
  padding: 6px 21px;
  top: 58px;
  left: 492px;
  border-radius: 10px 10px;
  font: 24px minionpro-bold;
  text-align: center;
  background-color: rgba(246, 204, 121, 1);
  border: none;
  border-bottom: 5px solid rgba(191, 103, 13, 1);
}

.previous {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 28px;
  top: 155px;
  border-radius: 50%;
  font: 36px bold opensans;
  text-align: center;
  background-color: rgb(84, 125, 238);
  opacity: 0.7;
}

.next {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 1087px;
  top: 155px;
  border-radius: 50%;
  font: 36px bold opensans;
  text-align: center;
  background-color: rgb(140, 167, 247);
  opacity: 0.7;
}

.bottom-foto {
  position: relative;
  width: 65px;
  height: 17px;
  top: 212px;
}

.white-circle {
  display: inline-block;
  width: 19px;
  height: 17px;
  right: 5px;
  border-radius: 50%;
  background-color: #FFF;
}

.orange-circle {
  display: inline-block;
  width: 19px;
  height: 17px;
  right: 5px;
  border-radius: 50%;
  background-color: rgb(204, 116, 16);
}

.articles {
  margin: 47px 0px 0px 65px;
}

.pay {
  display: inline-block;
  vertical-align: top;
  width: 269px;
}

.title-pay {
  width: 269px;
  height: 64px;
  font: 18px minionpro-bold;
  text-align: left;
}

.article-pay {
  width: 260px;
  height: 135px;
  padding-top: 44px;
  font: 16px minionpro-regular;
  text-align: left;
}

.fountain {
  display: inline-block;
  vertical-align: top;
  width: 276px;
  padding-left: 28px;

}

.title-fountain {
  width: 276px;
  height: 65px;
  font: 18px minionpro-bold;
  text-align: left;
}

.article-fountain {
  width: 255px;
  height: 158px;
  padding-top: 44px;
  font: 16px minionpro-regular;
  text-align: left;
  white-space: pre-wrap;
}

.mariupol { 
  display: inline-block;
  vertical-align: top;
  width: 252px;
  padding-left: 22px;
}

.title-mariupol {
  width: 233px;
  height: 89px;
  font: 18px minionpro-bold;
  text-align: left;
}

.article-mariupol {
  width: 253px;
  height: 159px;
  padding-top: 18px;
  font: 16px minionpro-regular;
  text-align: left;
}

.gulfood {
  display: inline-block;
  vertical-align: top;
  width: 276px;
  padding-left: 34px;
}

.title-gulfood {
  width: 249px;
  height: 63px;
  font: 18px minionpro-bold;
  text-align: left;
  white-space: pre-wrap;
}

.article-gulfood {
  width: 276px;
  height: 133px;
  padding-top: 45px;
  font: 16px minionpro-regular;
  text-align: left;
  white-space: pre-wrap;
}

.footer {
  width: 1302px;
  padding: 12px 0px 22px 0px;
  background-color: rgba(140, 10, 13, 1);
}

.website {
  display: inline-block;
  vertical-align: top;
  width: 192px;
  height: 14px;
  padding-left: 68px;
  padding-top: 24px;
  font: 14px minionpro-bold;
  color: #FBC86B;
}

.address {
  display: inline-block;
  vertical-align: top;
  width: 148px;
  height: 38px;
  padding-left: 102px;
  font: 14px minionpro-bold;
  color: #F8C669;
  line-height: 1.5;
}

.tel {
  display: inline-block;
  vertical-align: top;
  width: 144px;
  height: 37px;
  padding-left: 149px;
  font: 14px minionpro-bold;
  color: #F4AB64;
  line-height: 1.5;
}

.email {
  display: inline-block;
  vertical-align: top;
  width: 138px;
  height: 36px;
  padding-left: 145px;
  font: 14px minionpro-bold;
  color: #F8B168;
  line-height: 1.5;
}

.facebook {
  display: inline-block;
  vertical-align: top;
  width: 28px;
  height: 28px;
  padding-left: 69px;
  padding-top: 9px;
  border-radius: 50%;
}

.vk {
  display: inline-block;
  vertical-align: top;
  width: 28px;
  height: 28px;
  padding-left: 13px;
  padding-top: 9px;
  border-radius: 50%;
}

.wallpaper{
  background-image: url(./img/layer15.png);
}

.foto{
background-image: url(./img/layer5.png);
}

